
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>SUCCESS!</title>
</head>
<body style="background-color: #F6F6F6">


    <div class="alert alert-success fade show d-flex align-items-center justify-content-center" style="height: 750px">
        <p class=" text-center fs-3"> <strong class="fw-bolder">Success!</strong>Bill has saved and send to customer.</p>
    </div>

    <script>
        window.setTimeout(function () {
            location.href = "/Home/Index";
        }, 5000);
    </script>

</body>
</html>